<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF VIEWER</title>
</head>
<body>
    
    <p><h2> <%=data.fname %> </h2></p>
    <p><h2> <%=data.lname %> </h2></p>
    <p><h2> <%=data.email %> </h2></p>
    <p><h2> <%=data.role %> </h2></p>
    <p><h2> <%=data.work %> </h2></p>
    <p><h2> <%=data.duration %> </h2></p>
    <p><h2> <%=data.from %> </h2></p>
    <p><h2> <%=data.to %> </h2></p>


</body>
</html>